* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(img/fondo2-792254-1659438.jpg);
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
}

h1 {
    padding: 10px;
}

button {
    width: 20%;
    padding: 10px;
    margin: 20px auto; /* Centra horizontalmente */
    background-color: #000000;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los campos del formulario */
}

button:hover {
    background-color: #6a6b6b;
}

input,
textarea {
    width: 60%; /* Tamaño mediano para los campos de entrada */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}
